COMPOSE_PROJECT_NAME=celestia

# "docker-compose.yaml:docker-compose.prod.yaml" for production
# "docker-compose.yaml:docker-compose.stage.yaml" for stage
# "docker-compose.yaml:docker-compose.override.yaml:docker-compose.db.yaml" for local with database
COMPOSE_FILE=docker-compose.yaml:docker-compose.override.yaml:docker-compose.db.yaml

DOCKER_USER=1001:1001

# "host.docker.internal" for mac
DOCKER_ADDRESS=172.17.0.1

# 0.0.0.0 for external access
HTTP_HOST=127.0.0.1
HTTP_PORT=80

MAILHOG_HTTP_HOST=127.0.0.1
MAILHOG_HTTP_PORT=8025

DATABASE_HOST=db
DATABASE_USER=db_user
DATABASE_PASSWORD=db_password
DATABASE_NAME=db_name


